<div class="grants-table">
    <table class="ui grey selectable celled striped table"> <!-- sortable -->
        <thead>
            <tr>
                <th>Month</th>
                <th>Grantee</th>
                <th>Amount</th>
                <th>Purpose</th>
            </tr>
        </thead>
        <tbody>
        {% for grant in site.data.recommendations %}
            <tr>
                <td>{{ grant.month }}</td>
                <td>
                    {% if grant.url %}
                        <a href="{{ grant.url }}">{{ grant.grantee }}</a>
                    {% else %}
                        {{ grant.grantee }}
                    {% endif %}
                </td>
                <td>{{ grant.amount }}</td>
                <td>{{ grant.purpose }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
