Below is a complete list of grants we have thus far recommended to be made from the Survival and Flourishing Fund, accurate up to the final date listed in the table.  Recommendations after that final date might not be listed yet.
<div class="grants-table">
    <table class="ui grey selectable celled striped table"> <!-- sortable -->
        <thead>
            <tr>
                <th>Date of <br>Recommendation</th>
                <th>Grantee Organization</th>
                <th>Amount</th>
                <th>Purpose</th>
            </tr>
        </thead>
        <tbody>
        {% for grant in site.data.recommendations %}
            <tr>
                <td>{{ grant.month }}</td>
                <td>
                    {% if grant.url %}
                        <a href="{{ grant.url }}">{{ grant.grantee }}</a>
                    {% else %}
                        {{ grant.grantee }}
                    {% endif %}
                </td>
                <td>{{ grant.amount }}</td>
                <td>{{ grant.purpose }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
