---
---

@import "{{ site.theme }}";

#forkme_banner { display: none;}


.box {
  &.highlight {
    text-align: center;
  }
  &.person {
    position: relative;
      float: left;
    text-align: center;
    margin: 1ex 1ex 0 0;
    width: 144px;
  }
}
  
/* Team page */
  
  .name {
    font-weight: bold;
    padding: 0.5ex 0 0 0;
    margin-top: 2em;
  }
  .title {
    font-style: italic;
    margin-bottom: 1em;
  }
  .bio {
    margin-bottom: 3em;
  }
  .total-hours {
    color: #cc0000;
  }

.intrapage-link {
  display: block;
  position: relative;
  top: -60px;
  border-bottom: none;
}

